{
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "browser": true
    }
  },
  "rules": {
    "arrow-parens": 2,
    "comma-dangle": [
      2,
      "always-multiline"
    ]
  }
}
